
body {
    background-color: #444C4E;
}

h1 {
    text-align:center;
    color: #3CCCEE;
    text-transform: uppercase;
    font-size:1.5em;
    border-bottom: 1px solid #bbbbbb;
}

#main-container {
    transform: translateY(10%);

    padding: 1em;
    box-sizing: border-box;
    width: 95%;
    margin: 0 auto;
    height:37em;
    background-color:#444C4E;

}
#container {
    width: 80%;
    margin: 1.5em auto;
}

#inputs {
    width:90%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
}

input {
    width:100%;
    margin: 0 auto;
    font-size: .8em;
    border: none;
    padding: .7em 1em;
     box-sizing: border-box;
    top: 1.4em;
    position: absolute;
}

input:focus {
    border:none;
    background-color: #bbbbbb;
}

label {
    text-align: left;
    border-radius: 8px;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    position:relative;
    padding: 0 0 .5em .2em;
    font-size: 1.3em;
    display:grid;
    background-color: #65D4EE;
}

#resultado {
    font-size: 1.2em;
    width:10em;
    height:5em;
    padding: .5em;
    border: 1px solid ;
    margin:1em  auto 1em;
    background-color: #65D4EE;
    border:outset 4px #3CCCEE;
}

#btn {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    background-color: #3CCCEE;
    border:none;
    border-radius: .3em;
    font-size:1em
}

@media screen and (min-width:360px) {
    #resultado {
        width:14em;
    }
}

@media screen and (min-width:768px) {
    #resultado {
        width: 20em;
    }
      #inputs {
        display: grid;
        
    }
}
